<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="flex">
        <div id="menu-items" class="flex-1">
            {% for category in categories %}
            <div> {{category}}</div>
            <ul>
                {% for item in category.items.all %}
                <li class="bg-orange-500 my-2 pd-4" id="item - {{item.id}}" data-item-id="{{item.id}}" data-item-price="{{item.price}}"> {{item.name}} -
                    Rs. {{item.price}} </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>

        <div class="border-2 flex-1">
            <h1 class="text-3xl font-bold text-gray-800"> Selected Items </h1>
            <ul id="selected-menu-items"></ul>
            <div id = "total-price"> Total Price: </div>
        </div>
    </div>



    <!-- <form action="" method="post">
    <input type="hidden" name = "table-id" value = "table_id"> -->






    </form>



    <script>
        const menuItems = document.getElementById("menu-items")
        const selectedMenuItems = document.getElementById("selected-menu-items")
        const totalPriceDisplay = document.getElementById("total-price")
        let calculatedTotalPrice = 0

        menuItems.addEventListener("click", (event) => {
            if (event.target.tagName === "LI") {
                console.log(selectedMenuItems)
                selectedMenuItems.innerHTML += event.target.outerHTML
                const price = parseInt(event.target.getAttribute('data-item-price'))
                calculatedTotalPrice += price
                totalPriceDisplay.innerText = `Total Price: Rs.${calculatedTotalPrice}`





            }
        })

    </script>

</body>

</html>